{% extends 'layout.html.twig' %}

{% set page_title = 'Inloggen' %}

{% block body %}
	<div class="container row">
		<form method="post" class="login">
			{% if app.user %}
				<span class="h3 mb-3 font-weight-normal">Log opnieuw in</span>
			{% else %}
				<span class="h3 mb-3 font-weight-normal">Inloggen</span>
			{% endif %}
			<label for="inputUsername" class="sr-only">E-mailadres</label>
			<input type="text" value="{{ last_username }}" name="username" id="inputUsername" class="form-control" placeholder="E-mailadres" required autofocus>
			<label for="inputPassword" class="sr-only">Wachtwoord</label>
			<input type="password" name="password" id="inputPassword" class="form-control" placeholder="Wachtwoord" required>

			<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

			<button class="btn btn-lg btn-primary" type="submit">
				Log in
			</button>
		</form>
	</div>
{% endblock %}
