{% extends 'layout.html.twig' %}

{% if page_title is not defined %}
    {% set page_title = 'Reglementen' %}
{% endif %}


{% block body_root %}
    <div class="container row">
    <div class="card">
        <h1 class="category green block">Nieuwe pagina: Conscribo</h1>
    </div>
    </div>

    <div class="container row">
        <div class="cardholder">
            <div class="grid-x">
                <div class="cell large-8">
                    <div class="card table">
                        <table>
                            <tbody>
                                <tr>
                                    <td>
                                    <p>Conscribo is gemaakt om u inzicht te geven in uw financiën. Daarom is het belangrijk om als u begint met het pakket direct te zien, hoe dit werkt. Dit leggen we op deze pagina uit.</p>
                                    <h4>Overzicht</h4>
                                    <p>Het doel van uw boekhouding is het kunnen maken van een jaarverslag, en het kunnen beantwoorden van alle financiële vragen, dan en in de tussentijd. De belangrijkste onderdelen in het jaarverslag zijn de Resultatenrekening en de Balans. Deze kunt u dan ook altijd direct zien via het menu 'Financieel', 'Overzichten', 'Resultaat en balans'. </p>
                                    <p>etc...</p>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="cell large-4">
                    <div class="card table">
                        <table>
                            <thead>
                                <tr>
                                    <th>Stemmen</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>4 voor</td>
                                </tr>
                                <tr>
                                    <td>6 tegen</td>
                                </tr>
                                <tr>
                                    <td>2 neutraal</td>
                                </tr>
                            </tbody>
                        </table>
                        <table>
                            <thead>
                                <tr>
                                    <th>Beschrijving</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>We zijn overgestapt op Conscribo. Deze pagina legt uit hoe Conscribo werkt en hoe je het moet gebruiken</td>
                                </tr>
                            </tbody>
                        </table>
                        <table>
                            <thead>
                                <tr>
                                    <th>Ingediend</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Jasper Weyne</td>
                                </tr>
                                <tr>
                                    <td>3 maart 2020</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    
    <div class="container row">
        <div class="cardholder">
            <div class="grid-x">
                <div class="cell">
                    <div class="card table">
                        <table>
                            <thead>
                                <tr>
                                    <th>Marijn van Rossum</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        <p>Jasper, kopieer geen onzin.</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <p><i>3 maart 2020, 00:00</i></p>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
