@include -zf-each-breakpoint {
    @for $i from 1 through $xy-block-grid-max {
        .#{$-zf-size}-up-#{$i} {
            @include xy-grid-layout($n: $i / 2, $selector: '.cell.double', $gutter-output: false, $gutter-type: padding, $breakpoint: $-zf-size);
        }
    }
}

.cardholder {
    margin            : $padding * -0.5;

    h2 {
        padding: $padding * 0.5;
    }
}

.card {
    .cardholder & {
        margin        : $padding * 0.5;
        // margin-bottom : $padding;
    }

    border-radius     : rem-calc(4px);
    background        : #fbfbfb;
    box-shadow        : 0 0 rem-calc(4px) $light-gray;
    overflow          : hidden;
}